# Kaggle Project Submission Form | Spring 2019 CSC 665 

Please fill out the following sections.


## 1. Dataset and Metrics

1. Is it image, text processing, tabular dataset, etc.?

2. What metrics does Kaggle use to evaluate this competition? Provide exact formulas, and your implementation, or refer to the existing API (NumPy, Pytorch, etc.)

3. How many samples does the entire dataset have?

4. How many features?

5. What's the highest test score your achieved on Kaggle (the **actual score value**, not your leaderboard position).


## 2. Model Selection

1. What algorithms have you chosen? If you've tried multiple models, list them all. Describe your reasoning for choosing these particular models.

2. What are the best hyper-parameter settings you've found (e.g. the number of trees, any regularization, sampling ratio, learning rate, the size of the NN, etc.)

## 3. Training & Validation

1. What is your training and test split approach?

2. What methods did you use to evaluate your performance on your datasets. Provide the exact formula and the implementation, or refer to an existing API.

   2.1 What is the best score you've achieved?   


## 4. Your Code

1. Include the your entire training and testing pipeline. **It should run without any errors**.

2. Include links to the data to be downloaded here, e.g. https://www.kaggle.com/c/10385/download-all.

3. Assume your dataset is stored in the **data** subfolder (relative to the notebook). File name should match the downloaded files.

4. Print your **(train score, test score)** as the last output of your notebook. This score formula should match what you've described in #3.2.

In [1]:
# Paste your code here in one or more cells.
# The entire code should run without any errors.
# Print (train score, test score) as the last line.

# Group Submission: 14

## Member Name:
- Zanlian Jiang
- Daniel	Janes
- Junjie	Lu

# 1. Dataset and Metrics

1. Is it image, text processing, tabular dataset, etc.?
        - It is tabular dataset

2. What metrics does Kaggle use to evaluate this competition? Provide exact formulas, and your implementation, or refer to the existing API (NumPy, Pytorch, etc.)
        - NumPy, Pandas, Sklearn

3. How many samples does the entire dataset have?
        - Train Set: 1460 samples
        - Test Set: 1459 samples

4. How many features?
        - 79 features

5. What's the highest test score your achieved on Kaggle (the **actual score value**, not your leaderboard position).
        - 0.14939

# 2. Model Selection

1. What algorithms have you chosen? If you've tried multiple models, list them all. Describe your reasoning for choosing these particular models.
       - Decision Tree Regressor, Using the best mse on each feature to make prediction for the house precies.
       - Random Forest Regressor, Improve the accuracy for decision tree.
       
2. What are the best hyper-parameter settings you've found (e.g. the number of trees, any regularization, sampling ratio, learning rate, the size of the NN, etc.)
        - number of trees: 100
        - minimum sample leaf: 2

# 3. Training & Validation
1. What is your training and test split approach?
        - 80% tranning set & 20% test set

2. What methods did you use to evaluate your performance on your datasets. Provide the exact formula and the implementation, or refer to an existing API.
        - sklearn.ensemble.RandomForestRegressor.score()
2.1 What is the best score you've achieved?
        - train score: 0.97
        - test score: 0.89

# 4. Your Code
1. Include the your entire training and testing pipeline. It should run without any errors.
2. Include links to the data to be downloaded here.
        - https://www.kaggle.com/c/5407/download-all
3. Assume your dataset is stored in the data subfolder (relative to the notebook). File name should match the downloaded files.
4. Print your (train score, test score) as the last output of your notebook. This score formula should match what you've described in #3.2.

In [2]:
import pandas as pd
import numpy as np

# from csc665 import features, metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [3]:
from pandas.api.types import is_string_dtype

def create_categories(df: pd.DataFrame):
    for name, col in df.items():
        if is_string_dtype(col):
            df[name] = df[name].astype('category').cat.codes

In [4]:
csv_df_train = pd.read_csv("./house-prices-advanced-regression-techniques/train.csv")
csv_df_test = pd.read_csv("./house-prices-advanced-regression-techniques/test.csv")
csv_df_sample = pd.read_csv("./house-prices-advanced-regression-techniques/sample_submission.csv")

In [5]:
csv_df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
csv_df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [7]:
csv_df_train.shape, csv_df_test.shape, csv_df_sample.shape

((1460, 81), (1459, 80), (1459, 2))

In [8]:
create_categories(csv_df_train)
csv_df_train.shape

(1460, 81)

In [9]:
csv_df_train.fillna(-1, inplace=True)

In [10]:
csv_df_train.shape

(1460, 81)

In [11]:
X = csv_df_train.drop(['SalePrice'], axis=1)

In [12]:
y = csv_df_train['SalePrice'].values

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [14]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1168, 80), (292, 80), (1168,), (292,))

# Decision Treee Regressor

In [15]:
dt = DecisionTreeRegressor(min_samples_leaf=2)

In [16]:
%time dt.fit(X_train, y_train)

CPU times: user 23.1 ms, sys: 2.17 ms, total: 25.3 ms
Wall time: 23.3 ms

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=2,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [17]:
test_Predict = dt.predict(X_test)

In [18]:
dt.score(X_train, y_train)

0.9882164155380997

In [19]:
dt.score(X_test, y_test)

0.7836519298645296

In [20]:
# accuracy_score(y_test, test_Predict)

# Random Forest Regressor

In [21]:
rf = RandomForestRegressor(n_estimators=100, min_samples_leaf=2, n_jobs=-1)

In [22]:
%time rf.fit(X_train, y_train)

CPU times: user 1.86 s, sys: 30.1 ms, total: 1.89 s
Wall time: 363 ms

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=2, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [23]:
rf_test_Predict = rf.predict(X_test)

In [24]:
bestTrainScore = rf.score(X_train, y_train)
bestTrainScore

0.9725467729732985

In [25]:
bestTestScore = rf.score(X_test, y_test)
bestTestScore

0.876923423355101

In [26]:
# accuracy_score(y_test, test_Predict)

# Test Set Prediction

In [27]:
create_categories(csv_df_test)
csv_df_test.fillna(-1, inplace=True)

In [28]:
testSet_predict = rf.predict(csv_df_test)

In [29]:
testSet_predict.shape

(1459,)

In [30]:
csv_df_sample.shape

(1459, 2)

In [31]:
csv_df_sample['SalePrice'] = testSet_predict

In [32]:
csv_df_sample.head()

     Id      SalePrice
0  1461  126545.818333
1  1462  154813.318095
2  1463  181088.814206
3  1464  184331.807222
4  1465  198103.308571

In [33]:
csv_df_sample.to_csv("predict_RF.csv", index=False)

# Best Train Score & Best Test Score

In [34]:
bestTrainScore, bestTestScore

(0.9725467729732985, 0.876923423355101)